%article.about_treefinger
  %ul
    %li TreeFinger is a project and task manager.
    %li It's made for people who hate using project and task managers.
    %li TreeFinger uses a simple sintax to manages task items;
    %li It's just indenting (that thing you learned in elementary school).
    %li Add and edit items(stories) and descriptions very quickly.
    %li So managing your workflow doesn't get in the way of your workflow
    %li and you can ride ponies with all the time you saved.
    %li Hell Yeah! Ponies!
  
%article.sign_up
  = form_for user, url: :users do |f|
    .field= f.text_field :username, placeholder: "username"
    .field= f.text_field :email, placeholder: 'email'
    .field= f.password_field :password, placeholder: 'password'
    .field= f.password_field :password_confirmation, placeholder: 'password confirmation'

    .field
      = f.submit "Register for free"
