= content_for :head do
  :javascript
    window.project_id = "#{project.id}";
    current_username = "#{current_user.username}";
= javascript_include_tag "application"

= content_for :project do
  %h2= current_project.name

#project(ng-controller="Project")

  %section#editor(contenteditable="true")

  %section#tasks
    %ul

  %section#notes(ng-class="{active: noteAreVisible}")
    -# .note_container
    -#   %ul.notes
    -#     %li(ng-repeat="note in notes")
    -#       %p.username {{ note.username }}
    -#       %p.note {{ note.body }}
    -# %form.new_note(ng-submit="addNote()")
    -#   %fieldset
    -#     %textarea#note_text(placeholder="Note..." ng-model="noteText")
    -#   %fieldset.actions
    -#     %input(type="submit" value="Add note")
