= content_for :head do
  :javascript
    window.project_id = "#{project.id}";

= javascript_include_tag "application"

= content_for :project do
  %h2= current_project.name

#project
  %section#editor_border
  %section#editor(contenteditable="true" spellcheck="false")
  %section#tasks
    %ul
  %section#notes
    .note_container
      %ul.notes
    %form.new_note
      %fieldset
        %textarea#note_text(placeholder="Note...")
      %fieldset.actions
        %input(type="submit" value="Add note")
