= content_for :head do
  = stylesheet_link_tag "dashboard"
%section#editor
%section#tasks
  %ul
    - 50.times do
      %li
        .view= link_to "view notes", "#"
        .complete= link_to "complete", "#"
        .name User signs in
%section#notes
  .form_container
    %form
      %textarea{ placeholder: "Note..." }
      .actions
        = link_to "attach", "#"
        %input(type="submit" value="Add message")
  .note_container
    %ul
      - 20.times do
        %li
          %p.username mrmicahcooper
          %p.note When I click the forgot password linke, I get a 404 error. Thats' unexpected and I do nt' liek it. Can you do something else right there that isn't so anoying. maybt a helpful page or something?
