!!!
%html
  %title Treefinger
  = stylesheet_link_tag    "codemirror-3.12/lib/codemirror.css"
  = stylesheet_link_tag    "nanoscroller.css"
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Oleo+Script:700,700|Source+Code+Pro:500"
  = javascript_include_tag "application"
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"
  = stylesheet_link_tag    "application"
  = yield :head
  = csrf_meta_tags
  %body
    %header
      %section.user
        You are signed in as 
        %span.username mrmicahcooper
        = link_to('account')
        = link_to('sign out', "#")
      %h1= link_to "TreeFinger", root_path
    %section#content
      = yield
