!!!
%html
  %title Treefinger
  = stylesheet_link_tag    "session", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Oleo+Script:700,700"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %body
    %header
      .logo
        %h1 
          = link_to "TreeFinger", root_path
    %section.sign_in
      = form_tag :sign_in do
        .field= text_field_tag :email_or_username, params[:email_or_username],  placeholder: 'email or username'
        .field= password_field_tag :password, params[:password], placeholder: 'password'
        .field= submit_tag 'Sign in'
  %section#content
    = yield
  .image_contribution
    %a{href: "http://thenounproject.com/noun/tree/#icon-No10225",
      target:"_blank"} Tree 
    designed by 
    %a{href:"http://thenounproject.com/munkyfifty", 
      target:"_blank"} Tin Phatanapirom
    from The Noun Project
