!!!
%html
  %title Treefinger
  = stylesheet_link_tag    "session", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Oleo+Script:700,700"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %body
    %header
      .logo
        %h1 
          = link_to "TreeFinger", root_path
    %section.sign_in
      %form
        .field
          %input{ type: "text", placeholder: "email or username" }
        .field
          %input{ type: "password", placeholder: "password" }
        .field
          %input{ type: "submit", value: "Sign in" }
  %section#content
    = yield
  .image_contribution
    %a{href: "http://thenounproject.com/noun/tree/#icon-No10225",
      target:"_blank"} Tree 
    designed by 
    %a{href:"http://thenounproject.com/munkyfifty", 
      target:"_blank"} Tin Phatanapirom
    from The Noun Project
